@model YouStore.ViewsModels.AddYouTuber

@{
    ViewData["Title"] = "AddYoutuber";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>AddYoutuber</h2>

<h4>AddYouTuber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddYoutuber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YoutuberName" class="control-label"></label>
                <input asp-for="YoutuberName" class="form-control" />
                <span asp-validation-for="YoutuberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutuberImage" class="control-label"></label>
                <input asp-for="YoutuberImage" class="form-control" />
                <span asp-validation-for="YoutuberImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

